# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
*.iml
.idea/
out/

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Spring Boot Secrets
src/main/resources/application.properties
